@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";
@import "fonts/fonts";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;

  // width: 100%;
  // flex-grow: 1;
  // flex-shrink: 1;
}

.page-wrapper {
  flex-grow: 1;

  // flex-shrink: 1;
  // padding: 20px;

  // max-width: 100%;
}
