@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";
@import "fonts/fonts";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

li {
  list-style: none;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;

  // width: 100%;
  // flex-grow: 1;
  // flex-shrink: 1;
}

// .page-wrapper {
//   flex-grow: 1;

//   // flex-shrink: 1;
//   padding: calc(20px + var(--navbar-height)) 20px 20px calc(20px + var(--side-bar-width));
//   height: calc(100% - var(--navbar-height));
//   overflow-y: auto;
//   max-width: 1200px;
//   margin: 0 auto;
// }
*::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);  /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 1px solid var(--primary-color);  /* padding вокруг плашки */
}
