.card {
  max-width: 780px;
  margin: 0 auto;
}

.ProfileCard {
  // margin: 20px;
  // padding: 20px;
  // border: 1px solid var(--inverted-bg-color);
  // transition: all 0.6s;
  // min-height: 250px;
  height: 100%;

  // min-width: fit-content;
}

.isLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-bottom: 5px;
}

.data {
  width: 100%;

  // display: flex;
  // flex-direction: column;
  // align-items: left;
  // justify-content: center;

  // gap: 15px;

  /* margin-right: auto; */
  // max-width: 310px;
}

// .buttons {
//   display: flex;
//   gap: 15px;
// }
