.Modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--modal-index);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .overlay {
//   width: 100%;
//   height: 100%;
//   background-color: var(--overlay-background);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.content {
  padding: 20px;
  max-width: 60%;
  background-color: var(--bg-color);
  border-radius: 12px;
  transform: scale(0.5);
  transition: transform 0.3s;
}

.opened {
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.3);

    // opacity: 0;
    transition: all 0.3s;
  }
}
