.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  background: var(--inverted-bg-color);
  position: relative;
  transition: all 0.3s;
}

.toggleSidebar {
  right: -40px;
  bottom: 40px;
  position: absolute;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  align-items: center;
  width: calc(100% - 0px);
}

// .items {
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
//   padding: 15px;
// }
.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

// .item {
//     margin-top: 10px;
//     display: flex;
//     align-items: center;
// }

.item {
  display: flex;
  max-height: var(--font-line-l);
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-collapsed);

  .items {
    overflow: hidden;
  }

  .item {
    // asd
  }

  .link {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s;
  }
}
