.Sidebar {
  height: calc(100vh - var(--navbar-height));
  padding-top: var(--navbar-height);
  z-index: 100;

  // height: calc(100vh - var(--navbar-height));
  width: var(--side-bar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: all 0.3s;

  // position: fixed;
}

.toggleSidebar {
  right: -40px;
  bottom: 40px;
  position: absolute;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  align-items: center;
  width: calc(100% - 0px);
}

// .items {
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
//   padding: 15px;
// }
.items {
  // margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

// .item {
//     margin-top: 10px;
//     display: flex;
//     align-items: center;
// }

.collapsed {
  width: var(--sidebar-collapsed);

  .items {
    overflow: hidden;
  }
}
