.app_dark_theme {
  --bg-color: #040454;
  --inverted-bg-color: #e8e8ea;
  --inverted-primary-color: #1b61f8;
  --inverted-secondary-color: #5e81ea;
  --primary-color: #1af31a;
  --secondary-color: #76d976;
}
