.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #040454;
    --primary-color: #6187f7;
    --secondary-color: #134dcc;
    --inverted-primary-color: #76d976;
    --inverted-secondary-color: #04ff04;
}
