.ArticleList {
  // display: flex;
  // margin-top: 16px;
}

// SMALL
.grid {
  padding-top: 16px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
  justify-content: space-between;

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // margin-top: 16px;
}

// BIG
.list {
  margin-top: 16px;

  .card {
    // margin-bottom: 30px;
  }
}

.recommendations {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-y: hidden;
  overflow-x: auto;
}
