.ArticleList {
  // display: flex;
  // margin-top: 16px;
}

// SMALL
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin-top: 16px;
}

// BIG
.list {
  margin-top: 16px;

  // display: flex;

  .card {
    // margin-bottom: 30px;
  }
}

.recommendations {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-y: hidden;
  overflow-x: auto;
}
