.Overlay {
  background-color: var(--overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: -1;
}
