.CommentCard_skeleton {
  padding: 10px;
}

.CommentCard {
  // padding: 10px;
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.commentUserName{

}

.commentText {
  // margin-top: 4px;
  padding-left: 42px;
}
